@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@keyframes effect1 {
  50% {
    transform: scale(1.5);
  }
}

@keyframes effect2 {
  50% {
    transform: rotate(10deg);
  }
}

@keyframes effect3 {
  50% {
    transform: rotate(-10deg);
  }
}

@keyframes effect4 {
  50% {
    transform: translate(0, -5px);
  }
}

@keyframes effect5 {
  50% {
    color: #ccc;
  }
}

@keyframes wave {
  0% {
    transform: translate(0, 0);
    color: rgb(88, 238, 230);
  }

  50% {
    transform: translate(0, -20px);
    color: rgb(29, 192, 192);
  }

  100% {
    transform: translate(0, 0);
    color: rgb(44, 172, 189);
  }
}

@keyframes flip {
  100% {
    transform: rotate(360deg);
    color: #f0a;
  }
}

body {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P", cursive;
}

h1 {
  text-align: center;
  font-size: 48px;
}

h2 {
  margin: 60px 0 25px;
  background-color: #000;
  color: #fff;
  width: 50%;
  text-align: center;
  padding: 10px 0;
  box-sizing: border-box;
}

.h1 {
  border: 5px solid #7040fc;
}

.h2 {
  border: 5px solid rgb(29, 192, 192);
}

.h3 {
  border: 5px solid #f0a;
}

.container {
  display: flex;
}

.text {
  width: 50%;
}

@media (max-width: 800px) {
  .text {
    width: 80%;
  }
}

.text1,
.text3 {
  line-height: 2;
}

span {
  display: inline-block;
  letter-spacing: 0.3em;
}

.effect1 {
  animation: effect1 1.5s infinite alternate;
}

.effect2 {
  animation: effect2 2s infinite alternate;
}

.effect3 {
  animation: effect3 2.5s infinite alternate;
}

.effect4 {
  animation: effect4 3s infinite alternate;
}

.effect5 {
  animation: effect5 2s infinite alternate;
}

.effect6 {
  animation: wave 1.5s var(--i) infinite alternate;
}

.effect7 {
  animation: flip 1.5s var(--i) infinite;
}
